In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
path = r'/Users/shirwetelfeel/Desktop/Data analysis /tasks/Data immersion/Achievment 4/14-02-2022 Instacart Basket Analysis'

In [4]:
df_orders_products_prior = pd.read_csv(os.path.join(path, '/Users/shirwetelfeel/Desktop/Data analysis /tasks/Data immersion/Achievment 4/14-02-2022 Instacart Basket Analysis/Data/Prepared Data/orders_products_combined.csv'), index_col = None)

In [5]:
df_orders_products_prior.shape

(1000000, 12)

In [7]:
df_prods = pd.read_csv(os.path.join(path, '/Users/shirwetelfeel/Desktop/Data analysis /tasks/Data immersion/Achievment 4/14-02-2022 Instacart Basket Analysis/Data/Prepared Data/clean_products.csv'), index_col = None)

In [8]:
df_orders_products_prior.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8.0,NaN,196,1,0,both
1,1,2539329,1,prior,1,2,8.0,NaN,14084,2,0,both
2,2,2539329,1,prior,1,2,8.0,NaN,12427,3,0,both
3,3,2539329,1,prior,1,2,8.0,NaN,26088,4,0,both
4,4,2539329,1,prior,1,2,8.0,NaN,26405,5,0,both

In [9]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_orders_products_prior.shape

(1000000, 12)

In [11]:
df_prods.shape

(49672, 6)

In [12]:
df_prods = df_prods.drop(df_prods.columns[0], axis = 1)

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
#removing _merge column
df_orders_products_prior = df_orders_products_prior.drop(columns = ['_merge'])

In [14]:
df_orders_products_prior.shape

(1000000, 11)

In [15]:
#merging
df_ords_prods_merged_large = df_orders_products_prior.merge(df_prods, on = 'product_id', indicator = True)

In [16]:
df_ords_prods_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,prior,1,2,8.0,NaN,196,1,0,Soda,77,7,9.0,both
1,5,2398795,1,prior,2,3,7.0,15.0,196,1,1,Soda,77,7,9.0,both
2,11,473747,1,prior,3,3,12.0,21.0,196,1,1,Soda,77,7,9.0,both
3,16,2254736,1,prior,4,4,7.0,29.0,196,1,1,Soda,77,7,9.0,both
4,21,431534,1,prior,5,4,15.0,28.0,196,1,1,Soda,77,7,9.0,both

In [17]:
df_ords_prods_merged_large ['_merge'].value_counts()

both          999060
left_only          0
right_only         0
Name: _merge, dtype: int64

In [18]:
df_ords_prods_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999060 entries, 0 to 999059
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              999060 non-null  int64
 1   order_id                999060 non-null  int64
 2   user_id                 999060 non-null  int64
 3   eval_set                999060 non-null  object
 4   order_number            999060 non-null  int64
 5   order_dow               999060 non-null  int64
 6   order_hour_of_day       999060 non-null  float64
 7   days_since_prior_order  935521 non-null  float64
 8   product_id              999060 non-null  int64
 9   add_to_cart_order       999060 non-null  int64
 10  reordered               999060 non-null  int64
 11  product_name            999060 non-null  object
 12  aisle_id                999060 non-null  int64
 13  department_id           999060 non-null  int64
 14  prices                  999060 non-null  float64
 15  _merge                  999060 non-null  category
dtypes: category(1), float64(3), int64(10), object(2)
memory usage: 122.9+ MB

In [19]:
df_merged = df_ords_prods_merged_large.drop(columns = ['Unnamed: 0'])

In [20]:
df_merged['order_id']=df_merged['order_id'].astype('int32')

In [21]:
df_merged['user_id']=df_merged['user_id'].astype('int32')
df_merged[' order_number ']=df_merged['order_number'].astype('int32')

In [22]:
df_merged['order_dow']=df_merged['order_dow'].astype('int8')

In [23]:
df_merged['order_hour_of_day']=df_merged['order_hour_of_day'].astype('int32')
df_merged['product_id']=df_merged['product_id'].astype('int32')
df_merged['aisle_id']=df_merged['aisle_id'].astype('int32')
df_merged['department_id']=df_merged['department_id'].astype('int32')
df_merged['prices']=df_merged['prices'].astype('int32')

In [24]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999060 entries, 0 to 999059
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                999060 non-null  int32
 1   user_id                 999060 non-null  int32
 2   eval_set                999060 non-null  object
 3   order_number            999060 non-null  int64
 4   order_dow               999060 non-null  int8
 5   order_hour_of_day       999060 non-null  int32
 6   days_since_prior_order  935521 non-null  float64
 7   product_id              999060 non-null  int32
 8   add_to_cart_order       999060 non-null  int64
 9   reordered               999060 non-null  int64
 10  product_name            999060 non-null  object
 11  aisle_id                999060 non-null  int32
 12  department_id           999060 non-null  int32
 13  prices                  999060 non-null  int32
 14  _merge                  999060 non-null  category
 15   order_number           999060 non-null  int32
dtypes: category(1), float64(1), int32(8), int64(3), int8(1), object(2)
memory usage: 85.8+ MB

In [25]:
df_merged['order_number']=df_merged['order_number'].astype('int32')

In [26]:
df_merged['add_to_cart_order']=df_merged['add_to_cart_order'].astype('int32')

In [27]:
df_merged['reordered']=df_merged['reordered'].astype('int32')

In [28]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999060 entries, 0 to 999059
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                999060 non-null  int32
 1   user_id                 999060 non-null  int32
 2   eval_set                999060 non-null  object
 3   order_number            999060 non-null  int32
 4   order_dow               999060 non-null  int8
 5   order_hour_of_day       999060 non-null  int32
 6   days_since_prior_order  935521 non-null  float64
 7   product_id              999060 non-null  int32
 8   add_to_cart_order       999060 non-null  int32
 9   reordered               999060 non-null  int32
 10  product_name            999060 non-null  object
 11  aisle_id                999060 non-null  int32
 12  department_id           999060 non-null  int32
 13  prices                  999060 non-null  int32
 14  _merge                  999060 non-null  category
 15   order_number           999060 non-null  int32
dtypes: category(1), float64(1), int32(11), int8(1), object(2)
memory usage: 74.3+ MB

In [29]:
#exporting
df_ords_prods_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'ords_prods_merged_large.pkl'))